**/*.user
**/.vs
**/bin
**/obj
**/packages
**/.DS_Store
*_info.png
*.NEF
*.RAF
*.ORF
*.CR2
ImageDetailsCore-linux
ImageDetailsCore-mac
ImageDetailsCore.exe
Thumbs.db
badgeall.sh
ImageDetailsCore-linux
ImageDetailsCore-mac
ImageDetailsCore.exe
